<h1>BenfordsLaw</h1>

<form action="postvalues">

  <h3>Input values with comma(,) separated</h3>
  <input type="text" name="value" value="" style="width:300px" />
  <br />
  <br />
  <input type="submit" value="Calculate"> &nbsp;&nbsp; <%= link_to "random values" , :action => "randomvalues" %> 



</form>

