<h1>BenfordsLaw</h1>

<h3>Scale A</h3>

<%= debug(@a) %>


<h3>Benfords Law values (Scale B)</h3>

<%= debug(@d1) %>


<H3>Correlation Co-efficient Value</H3>
<%= debug(@ccef) %>

<br />

<%= link_to "back", :action => "index" %>


